*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Navigation Bar*/
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 30px;
  border-bottom: 1px solid grey;

}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: green;
}

.ph{
  font-size: 30px;
}

.nav-items ul{
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-items ul li a{
  text-decoration: none;
  color: black;
}

.sign-in{
  padding: 8px 16px;
  background-color: green;
  border: none;
  border-radius: 10px;
  color: azure;
  font-size: 16px;
  cursor: pointer;
}

.sign-in:hover{
  color: grey;
}

/* Hero section*/
section{
  /* min-height:100vh; */
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  /* align-items: center; */
  gap: 40px;

}
.content{
  max-width: 550px;
  display: inline-block;
}

.badge{
  display: inline-block;
  background: #eef2f0;
  color: #333;
  padding: 8px 16px;
  border-radius: 30px;
  font-size:14px;
  margin-bottom: 25px;
}

h1{
  color:green;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 25px;
}
.hero-text{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom:20px;
}

.features-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.6;
  gap: 10px;
}

.ph-check-circle{
  font-size: 14px;
  color: green;
  font-weight: 40px;
}

.primary-btn{
  margin-right: 40px;
  background-color: green;
  padding: 16px 20px;
  color: white;
  border: none;
  border-radius:8px;
  font-size: 14px;
  cursor: pointer;
}

.secondary-btn{
  background-color: aliceblue;
  padding: 16px 20px;
  color: black;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.hero-image img{
  border-radius: 10px;
  max-width: 100%;
  width: 520px;
  }

  /* how it works */

  .how-it-works{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0F2F2;
    gap: 30px;
    min-height: 50vh;
  }

.card-wrapper{
    display: flex;
    gap: 40px;
  }

  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffff;
    color: black;
    border-radius: 12px;
    padding: 25px 20px;
    align-items: start;
    flex: 1;
  }

  .how-it-works div > .ph{
    color: green;
    background-color: #e0f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

.how-it-works div > h3 {
  font-size: 24px;
  font-weight: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.everything-you-need{
  display: flex;
  background-color: #f9f6f6;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.everything-you-need div > ul{
  list-style:none;
}

.everything-you-need div li{
  padding: 5px;
}

.everything-you-need div p{
  padding: 15px 0px;
}

.everything-you-need div > h3 {
  font-size: 24px;
  font-weight: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cta{
  background-color: #E0F2F2;
}

.cta-content{
  min-width: 100vw;
  text-align: center;
  background-color: #28A745;
  padding: 60px;
  color: white;
}

.cta-content h2{
  margin-bottom: 30px;
}

.cta-content p{
  margin-bottom: 30px;
}

.cta-content button{
  border: none;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

footer{
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  background-color: white;
  padding: 40px, 60px;
}
